<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="body_person_table">
    <%= render 'reload_table' %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, remote: true, id: 'add_person' %>
